register/login page
    ovs name heading
    id field
    password field

home page
    ongoing elections (clickable blocks)
        election name
        election candidates
        election deadline
        admins:
            election stats
        voters:
            election stats (after election is finished)

voting page
    election name heading
    election deadline text
    vote session deadline (countdown) text
    candidate buttons
    submit button

election creation page
    election name heading
    add/remove election choice list
    election deadline dropdown
    post button

vote analyze page
    candidate vote count bar chart
